div {
    padding: 30px; 
    float:left
}

.div1 {
 background-color: gray;
 border: 10px solid white;
}

.div2 {background-color: gray;
   border: 10px solid white;
}

.div3 {background-color: gray;
   border: 10px solid white;
}
.div4{background-color: gray;
   border: 10px solid white;
}
.div5 {background-color: gray;
  border: 10px solid white;
}
.div6 {background-color: gray;
   border: 10px solid white;
}